# Application setup
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Authentication (Examples)
NEXTAUTH_SECRET=your_super_secret_string_here
NEXTAUTH_URL=http://localhost:3000

# Database / Other services
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
